@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


.all{
  width:100%;
  height: 100%;
  overflow: hidden;
  background-image:url("https://static.vecteezy.com/system/resources/previews/004/495/548/original/light-soft-color-blue-low-poly-crystal-background-polygon-design-pattern-low-poly-illustration-low-polygon-background-free-vector.jpg") ;
  background-size: 105vw 100vh;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
 margin-top: -20px;
  
}
.navbar{
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
padding-bottom: 20px;
padding-top: 30px;
}

.navbar-title{
  text-decoration-line: underline;
  text-decoration-style: double;
  font-family: 'Righteous', cursive;
  font-size: x-large;
  animation: title 4s infinite;
 
 
}
.navbar-title:hover {
  animation-play-state: paused;
  scale:1.2;
  cursor: pointer;
 
}
@keyframes title{
  0%{
 color:rgb(76, 154, 221)
  }
  50%{
color:rgb(28, 28, 194)
  }
  100%{
    color:grey
  }
}
.body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:100%;
  align-items: center;
  margin-top: 50px;
}
.divbody{
 background-color: rgb(15, 59, 117);
 color:white;
 width:35%;
 margin-top: 50px;
 margin-bottom: 50px;
 padding: 10px;
 box-shadow:0px 0px 10px 10px rgb(197, 198, 224) ;
 font-size: medium;
}
.divbody:hover{
  scale:1.3
}
.div1{
 margin-right:40%;
}

.div3{
  margin-left: 40%;
}
.oneimage{
  width:500px;
  height: 500px; 
}
.image-slider{
  width:500px;
  height: 500px; 
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  background-color: white;
  box-shadow: 0px 0px 15px 5px  rgb(6, 93, 173);
}
.pictures{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to top, #d2e0ee, #739fe2 0%, #08346d 75%, #b5deee 0%);
}
.alldots{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.dot{
  scale:1.3;
  color:rgb(9, 67, 192);
margin-bottom: 20px;
}
.dot:hover{
  color:rgb(143, 190, 235);
  scale:1.6
}
.arrows{
  scale:1.5;
  color:rgb(0, 132, 255);
  margin:15px;
  background-color: white;
  border-radius: 50%;
  padding: 5px;
  opacity: 0.6;
  display: flex;
  justify-content: center;
  align-items: center;
  border:0px
}
.arrows:hover{
  opacity: 1;
}
.arrows:disabled{
 background-color: rgb(14, 23, 155);
}
.imagediv{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
margin-top: 100px;
margin-bottom: 10px;
}
.change2{
  animation: changeimage2 0.5s forwards;
}
.change{
animation: changeimage 0.5s forwards;

}
@keyframes changeimage{
  from {
  opacity: 0;
 
  }
  to{
opacity: 1;

  }
}
@keyframes changeimage2{
  from {
  opacity: 0;
 
  }
  to{
opacity: 1;

  }
}
.skills{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 width:60%;
 font-size: xx-large;
}
.skill{
  scale:1.8;
  margin-top:40px;
 width:50%;
padding:10px;
display: flex;
justify-content: flex-start;
align-items: center;
box-shadow: 0px 0px 5px 5px rgb(146, 184, 233);
 background-color: rgb(215, 237, 250);

}
.rightdiv{
margin-left: 30%;
}
.leftdiv{
margin-right: 30%;
}
.footer{
display: flex;
align-items: center;
flex-direction: column;
padding-top: 80px;
padding-bottom: 50px;
background: linear-gradient(to bottom, #d2e0ee, #739fe2 0%, #08346d 75%, #b5deee 20%);

}
.form{
 display: flex;
 flex-direction: column;
 width:20%;
 justify-content: center;
 align-items: center;
}
.form-input{
width: 100%;
margin-top: 20px;
text-align: center;
}
.text{
  height:30px
}
.textarea{
  height:120px;
}
.form-button{
 width:30%;
 margin-top: 20px;
 background-color:#ffffff;
 color:#08346d;
 border:0px;
 text-align: center;

}
.form-button:hover{scale:1.3}
.mailLink{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color:#08346d;
  margin-left: 5px;
  margin-right: 5px;
}
.mailLink:hover{
  color:#739fe2
}
.footer-icons{
  display: flex;
  margin-left: 100px;
  scale:2;
 
}
.contact{display: flex;
  margin-top: 100px;
  flex-direction: row;
  width:100%;
justify-content: center;
align-items: center;
}
.spanphone{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color:#08346d;
  margin-right: 3px;
}
.spanphone:hover{
  animation: phone 0.5s infinite;
}
@keyframes phone{
  0%{
 transform: rotate(-70deg);
  }
  33%{
    transform: rotate(0deg);
  }
  66%{
    transform: rotate(70deg);
  }
  100%{
    transform: rotate(0deg);
  }
}
@media only screen and (max-width:947px){
  .divbody{
    font-size: medium;
    width:50%;
    margin-top: 10px;
  }
  .form{
    width:40%;

  }
  .footer{
    padding-top: 60px;
  }
}
@media only screen and (max-width:680px){
  .divbody{
    font-size: small;
    width:50%;
    margin-top: 10px;
  }
  .skill{
    font-size: medium;
  
  }
  .image-slider{
    width: 350px;
    height: 350px;
  }
  .oneimage{
    width: 350px;
    height: 350px;
  }
}
@media only screen and (max-width:500px){
  .divbody{
    font-size:xx-small;
  
    margin-bottom: 10px;
  }
  .navbar-title{
    font-size: medium;
  }
  .footer{
    font-size: small;
    padding-top: 0px;
  }
  .footer-icons{
    margin-left: 40px;
  }
  .mailLink{
    margin: 6px;
  }
}

@media only screen and (max-width:480px){
  .skill{
    font-size:x-small;
  
  }
  .form{
    width:50%;

  }
  .image-slider{
    width: 240px;
    height: 240px;
    
  }
  .imagediv{
    margin-top: 50px;
  }
  .oneimage{
    width: 240px;
    height: 240px;
  }
  .arrows{scale:0.8}
  .alldots{
    margin-top: 10px;
  }
}
@media only screen and (max-width:380px){
  .footer{
    font-size: x-small;
  }
  .footer-icons{
    margin-left: 30px;
  }
  .mailLink{
    margin: 4px;
  }
  .skills{
    width:90%
  }
  .skill{
    width:60%;
    scale:1.0;
    margin-top: 20px;
  }
}

@media only screen and (max-width:360px){
 
  .form{
    width:60%;

  }
  .navbar-title{
    font-size:small;
   
  }
  .image-slider{
    width: 170px;
    height: 170px;
    
  }
  .imagediv{
    margin-top: 50px;
  }
  .oneimage{
    width: 170px;
    height: 170px;
  }
}
  .skill{
    font-size:xx-small;
  
  }


@media only screen and (max-width:330px){
  .form{
    width:80%;

  }
  .arrows{scale:0.6;
  margin: 5px;}
  .skill{
   width:70%
  
  }
  .alldots{
    margin-top: 2px;
  
  }

}
@media only screen and (max-width:300px){
  .footer{
  font-size: xx-small;
  }
  .mailLink{
    margin: 2px;
  }

}